<div class="title">
    <h1>SHOW PET</h1>
</div>

<div class="container">
    <mat-card class="card">
        <mat-card-title>Albus</mat-card-title>
        <mat-card-content>
            <p><strong>Race:</strong> Westie</p>
            <p><strong>Color:</strong> White</p>
            <p><strong>Weight:</strong> 7</p>
            <p><strong>Age:</strong> 5</p>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/petList" mat-raised-button>Go Back To List</button>
        </mat-card-actions>
    </mat-card>
</div>

