<div class="title">
    <h1>SHOW PET INFO</h1>
</div>

<app-spinner *ngIf="loading"></app-spinner>

<div *ngIf= "pet$ | async as pet" class="container">
<!--<div *ngIf= "pet != null" class="container">-->
    <mat-card class="card">
        <!--{{pet | json}}-->
        <mat-card-title>{{pet.name}}</mat-card-title>
        <mat-card-content>
            <p><strong>Race:</strong> {{pet.race}}</p>
            <p><strong>Color:</strong> {{pet.color}}</p>
            <p><strong>Weight:</strong> {{pet.weight}} </p>
            <p><strong>Age:</strong> {{pet.age}} años </p>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/petList" mat-raised-button>Go Back To List</button>
        </mat-card-actions>
    </mat-card>
</div>

