table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td, th{
    width: 15%;
}

.delete{
    cursor: pointer;
    color: #e15639;
}
.edit{
    cursor: pointer;
    color: #187880;
}
.search{
    cursor: pointer;
}
.addButton{
    font-size: 11px;
    line-height: 28px;
}