table {
    width: 100%;
}

.title{
    background-color: #393e50;
    padding: 10px;
    text-align: center;
    color: white;
}

.container{
    margin: 0 20% /*margin 0 up and down margin 20% left and right*/
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td, th{
    width: 15%;
}

.delete{
    cursor: pointer;
    color: #e15639;
}
.edit{
    cursor: pointer;
    color: #187880;
}
.search{
    cursor: pointer;
}
.addButton{
    font-size: 11px;
    line-height: 28px;
}