<div class="title">
    <h1>PETS LIST</h1>
</div>
<app-spinner *ngIf="loading"></app-spinner>
<br><br>

<div class="container">
    <mat-form-field>
        <mat-label>Filter Pets</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Golden" #input autocomplete="off">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Age Column -->
        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
            <td mat-cell *matCellDef="let element"> {{element.age}} </td>
        </ng-container>
      
        <!-- Race Column -->
        <ng-container matColumnDef="race">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Race </th>
            <td mat-cell *matCellDef="let element"> {{element.race}} </td>
        </ng-container>
      
        <!-- Color Column -->
        <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
            <td mat-cell *matCellDef="let element"> {{element.color}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <!--Actions Column-->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <button routerLink="/addPet" class="addButton" mat-raised-button color="primary">ADD PET</button>
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon routerLink="/showPet/{{element.id}}" matTooltip="Show" fontIcon="search" class="search"></mat-icon>
                <mat-icon [routerLink]="['/editPet',element.id]" matTooltip="Edit" fontIcon="edit" class="edit"></mat-icon>
                <mat-icon (click)="deletePet(element.id)" matTooltip="Delete" fontIcon="delete" class="delete"></mat-icon>

            </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 20, 50]"
                 showFirstLastButtons
                 aria-label="Select page of pets">
    </mat-paginator>
</div>

  
  
