/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.title{
    background-color: #393e50;
    padding: 10px;
    text-align: center;
    color: white;
}

.container{
    margin: 0 20% /*margin 0 up and down margin 20% left and right*/
}